<br>

<div class="jumbotron">
	<h1>Blogger</h1>
	<p>Blooger, a resource for sharing links and fresh ideas!</p>
	<p><%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Synthesizers</h2>
		<p>Here's your platform to share all your synth ideas!</p>
	</div>
	
	<div class="col-md-4">
		<h2>Longboards</h2>
		<p>If you cruise! This app is for you!</p>
	</div>
	
	<div class="col-md-4">
		<h2>Short Stories</h2>
		<p>Have an interesting idea for a story? We'll publish it for you!</p>
	</div>
	
</div>