<br>
<div class="jumbotron">
	<h1>Blogger</h1>
	<p>Blogger is a resource for sharing cool ideas with your friends!</p>
	<p>
		<%= link_to "Sign up", new_user_path, class: 'btn btn-primary' %> today!
	</p>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Have a cool synthesizer idea?</h2>
		<p>Post it here and share it with your friends!</p>
	</div>
	<div class="col-md-4">
		<h2>Have and longboarding tips? </h2>
		<p>Post your ideas here!</p>
	</div>
	<div class="col-md-4">
		<h2>Have a fun short story to tell?</h2>
		<p>Feel free to publish it here!</p>
	</div>
</div>